/A1_DebugCode.class
/A2_InstanceMethod.class
/A3_StaticMethod.class
/A3a_StaticMethod.class
/A4_ParameterisedMethod.class
/A5_ObjectInClass.class
/A6_ReturnTypeMethod.class
/A7_ParameterisedMethodWithReturn.class
/A8_CallByValueMethod.class
/A9_CallByReferenceMethod.class
/B1_ScannerClass.class
/B2_RutimeParameterPassing.class
/B3_Constructor.class
/B4a_Constructor.class
